body {
    background: rgb(151, 181, 191);
}


.topcontainer {
    display: flex;
    justify-content: space-evenly;
}

.bottomcontainer {
    display: flex;
    /* align-items: center; */
}

#Home {
    display: none;
}

/* .optionsContainer {
    display: none;
} */

.aboutMe {
    display: none;
    font-size: 5em;
}
.resume {
    display: none;
    font-size: 5em;
}

.projectsContainer {
    /* display: flex;
    justify-content: space-around; */
    display: none;
}

.projectImgs {
    max-width: 100%;
	width: 1000px;
    height: 900px;
	background: black;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2cd99;
}

.projectImgs img {
    max-width: 100%;
    max-height: 100%;
	border-radius: 10px;
    display: none;
}

.projectImgs img:first-of-type {
	display: block;
}

.topdiv {
    padding: 10px 30px;
    margin: -10px 10px 50px 10px;
}
.topdiv:hover {
    cursor: pointer;
    background: lightblue;
}

.Button {
	align-self: center;
	background: #2128bd;
	color: #e3d6d6;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #f0060a;
}

.Button:hover {
    cursor: pointer;
    background: rgb(1, 1, 75);
	box-shadow: 1px 1px #01647f;
	color: white;
}

.navLinks {
    display: flex;
    width: 100px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-icon {
    font-size: 5em;
    color: blue;
}
#darkmode {
    color: gray;
}
ion-icon:hover {
    color: darkblue;
}
#darkmode:hover {
    cursor: pointer;
    color: black;
}

#resumePDF {
    width: 800px;
    height: 500px;
}

.optionsContainer {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.me {
    position: absolute;
    top: 20%;
    left: 40%;
    border: black;
    border-width: 10px;
}

#me {
    width: 100%;
    border-radius: 25%;

}
.imgAndBackground {
    width: 1500px;
    /* background: purple; */
}
.background {
    position: relative;
    /* color: orange; */
    width: 100%;
    height: 100%;
}

#backgroundImg {
    width: 100%;
    height: 100%;
}

/* #me {
    position: absolute;
    z-index: 3;
} */

#About {
    box-shadow: 3px 3px;
}
#Projects {
    box-shadow: 3px 3px;
}
#Resume {
    box-shadow: 3px 3px;
}
#Home {
    box-shadow: 3px 3px;
}
@media (max-width: 1200px) {
    .projectImgs {
        max-width: 100%;
        width: 500px;
        height: 900px;
        background: black;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 2px #f2cd99;
    }
}